.Panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .PanelContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
  }
}
