.root {
  flex: 0 0 1.5em;
  position: relative;
  outline: none;
  background-color: transparent;
  .ResizeHandleInner {
    position: absolute;
    top: 0.25em;
    bottom: 0.25em;
    left: 0.25em;
    right: 0.25em;
    border-radius: 0.25em;
    transition: background-color 0.2s linear;
    .icon {
      width: 1em;
      height: 1em;
      position: absolute;
      left: calc(50% - 0.5rem);
      top: calc(50% - 0.5rem);
    }
  }
}
