.root {
  flex: 0 0 1.5em;
  position: relative;
  outline: none;
  background-color: #333642;
  .ResizeHandleInner {
    position: absolute;
    top: 0.25em;
    bottom: 0.25em;
    left: 0.25em;
    right: 0.25em;
    border-radius: 0.25em;
    transition: background-color 0.2s linear;
    display: flex;
    align-items: center;
    color: #aaaebc;
    font-size: 12px;
    .icon {
      width: 1em;
      height: 1em;
      position: absolute;
    }
  }
}
