{
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "endOfLine": "auto"
}
