@import "../../assets/styles/var.scss";

.root {
  height: calc(100vh - 65px);
  width: 100vw;
  background-color: $primary-theme;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.BottomRow {
  flex: 1 1 auto;
}
