.root {
  width: 100vw;
  height: 100%;
  overflow: scroll;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
  &::-webkit-scrollbar {
    display: none;
  }
  background: "#000";
}
:global {
  .terminal {
    width: 100vw;
    height: inherit;
    box-sizing: border-box;
    padding: 10px;
  }
  .ant-tree-list-holder {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
