.root {
  background-color: #fff;
}
.Panel {
  display: flex;
  flex-direction: column;
}

.PanelContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
}
.console {
  background-color: #131417;
  display: flex;
  flex-direction: column;
  .top,
  .bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #333642;
    padding-left: 10px;
    .input {
      margin-left: 10px;
      border: none;
      flex-grow: 1;
      background-color: transparent;
      color: #fff;
      &:focus {
        outline: none;
        caret-color: white;
      }
    }
  }
  .middle {
    flex-grow: 1;
  }
}
