@import "../../../../assets/styles/var.scss";

.title {
  height: 30px;
  background-color: $editor-nav-background;
  color: $editor-nav-color;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.root {
  width: 100%;
  height: 100%;
  padding: 0 12px 0 8px;
  box-sizing: border-box;
  .switch-prettier-format {
    padding-top: 10px;
    height: auto;
    width: 100%;
    .format-title {
      @extend .title;
    }
    .content {
      background-color: $editor-nav-background;
      overflow: hidden;
      .file-path-control {
        display: flex;
        justify-content: space-between;
        .path-input {
          background-color: $editor-nav-background;
          color: $editor-nav-color;
          border-radius: 0;
          &::placeholder {
            color: $editor-nav-color;
          }
        }
        .path-confirm {
          display: flex;
          align-items: center;
          padding-right: 8px;
          box-sizing: border-box;
          .path-control {
            cursor: pointer;
            color: #a7a8ab;
            &:nth-child(1) {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  .global-format-title {
    @extend .title;
    margin-top: 10px;
  }
}

.prettier {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #CCCCCC;
  .prettier-title {
    display: flex;
    .icon {
      margin-right: 5px;
      width: 16px;
      height: 16px;
      background-image: url('https://cdn.jsdelivr.net/gh/PKief/vscode-material-icon-theme@master/icons/prettier.svg')
    }
    
  }
}
