@import "../../assets/styles/var.scss";

.root {
  width: 100vw;
  height: $header-hight;
  background-color: $primary-theme;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-right {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;

    .login {
      width: 80px;
      height: 28px;
      background-color: #3b82f6;
      color: #ffffffe6;
      text-align: center;
      line-height: 28px;
      cursor: pointer;
    }
  }
}
